* {
    font-family: 'Advent Pro', sans-serif;
    box-sizing: border-box;
}

h1 { 
    font-family: 'Luckiest Guy', cursive;
    font-size: 80px;
    margin-left: 23%;
    margin-right: 23%;
    color: rgb(187, 76, 76);
}

h1.title {
    opacity: 1;
}





h2, h3 {
    font-family: 'Advent Pro', sans-serif;
}

.funfacts {
    color: rgb(12, 12, 179);
}

.instructions {
    font-size: 30px;
    margin-left: 20%;
    margin-right: 20%;
}

a .header {
    font-family: 'Advent Pro', sans-serif;
}

div.question {
    font-size: 100px;
}

.ui.basic.blue.button, .ui.basic.blue.buttons .button,
.ui.basic.red.button, .ui.basic.red.buttons .button {
    width: 100px;
    height: 75px;
    font-size: 20px;
    font-family: 'Advent Pro', sans-serif;
    text-align: center;
}


/*styling for home page*/
.home {
    
    text-align: center;
    margin-top: 13%;
}
.ui.card>.content>.header:not(.ui), .ui.cards>.card>.content>.header:not(.ui) {
    font-size: 2em;
    margin-top: -.21425em;
    line-height: 1.28571429em;
    font-family: 'Advent Pro', sans-serif;
    color: rgb(12, 12, 179);
}  

.ui.card .meta, .ui.cards>.card .meta {
    font-size: 1.42em;
    color: rgb(160, 28, 28);
}

/*styling for NavBar*/
.navs {
    display: flex;
    padding: 20px;
    font-size: 35px;
    color: rgb(11, 11, 202);
    font-weight: bold;
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 200;   

}

a {
    color: #4183c4;
    text-decoration: none;
    padding: 10px;
    font-family: 'Luckiest Guy', cursive;
}

/*styling for quiz items*/
.answer {
    display: flex;
    flex-wrap: wrap;
    flex: 50%;
    max-width: 500px;
    align-items: center;
}

.question {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 16px;
}

.answer div {
    width: 48.5%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 1px;
    margin-right: 1px;
    border: .5px solid red;
    border-radius: 10px;
    font-size: 18px;
}

.question-container {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10%;
    background: url('https://media.istockphoto.com/photos/july-4th-background-red-white-and-blue-colors-with-soft-faded-border-picture-id1252270160?b=1&k=20&m=1252270160&s=170667a&w=0&h=5nsTSRdk1KWKcjy-RssEHOr2Rfm3H2PkD_D3fsC5Iys=') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.answer div input {
    margin: 5px;
    opacity: .5;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.next {
    margin-top: 10px;
}


.timer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.timer span {
    margin: 5px;
}

.timer.score {
    font-size: 30px;
}

.retake {
    text-align: center;
    margin-top: 20%;
    background: url('https://media.istockphoto.com/photos/july-4th-background-red-white-and-blue-colors-with-soft-faded-border-picture-id1252270160?b=1&k=20&m=1252270160&s=170667a&w=0&h=5nsTSRdk1KWKcjy-RssEHOr2Rfm3H2PkD_D3fsC5Iys=') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h2.timesup {
    font-size: 50px;
    margin: 0;
}


/*styling for fun facts page*/
.title {
    text-align: center;
    margin-bottom: 3%;
}

.funfacts-container {
    background: url('https://media.istockphoto.com/photos/square-shaped-paper-confetti-in-american-flag-colors-falling-over-picture-id1243182857?b=1&k=20&m=1243182857&s=170667a&w=0&h=K7Oc5Am3aoiJgqQ7TLOgo9ty6e8QL0CJzvQdX_249u8=') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: .8;
    margin-top: 10%;
}

.statecards {
    justify-content: center;
}

.ui.card:last-child {
    margin: 1em 0;
}

.ui.card:first-child {
    margin: 1em 0;
}

/*styling for searchbar*/
.searchbar {
    display: flex;
    margin-top: 3%;
    margin-left: 25%;
    margin-right: 25%;
    max-width: 50%;
}

.timesup {
    text-align: center;
    margin-top: 30%;
    font-size: 20px;
}